

.foodimage{
    width: 200px;
    height: 200px;
    object-fit: scale-down;
    margin: auto;
    display: block;
    border-radius: 100%;
}

.container{
    margin: 10px;
    /*background-color: rgb(219, 219, 219);*/
    width: 300px;
    height: 300px;
    border-radius: 20%;
    padding: 10px;
}

.productname{
    text-align: center;
    
}

#selector{
    background-color: rgba(167, 167, 167, 0.61);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 0px;
    transform: translateY();
    transition: box-shadow 0.5s, transform 0.5s;
}

#selector:hover{
    box-shadow: 5px 10px 10px;
	transform: translateY(-10px);
}