input[type=number],
input[type=password],
input[type=text],
input[type=email],
input[type=search],
textarea,
input[type=datetime-local] {
  width: 440px;
  height: 25px;
}


span{
  padding-right:3px;
  padding-top: 3px;
  display:inline-block;
}

img{
  height: 10px;
  width: 10px;
  cursor: pointer;
}
