<div class="container">
  <div >
    <div class="row purchase-body">
      <div class="col-sm-3">
        <div >
          <img class="purchase-images" src="{{purchase.product | getImg}}" height="600" width="400"/>
        </div>
      </div>

      <div class="col-sm-6">
        <h3 style="text-decoration: none" class="product-name">{{purchase.product.name}}</h3>
        <p id="purchaseID">Purchase ID: {{purchase.purchase_id}}</p>
        <p class="detail-style">{{purchase.product.description}}</p>
      </div>

      <div id= "subTotal" class="col-sm-3">
        <p><span class="span-style">Price</span>: ${{purchase.product.price}}</p>
        <p><span class="span-style">Tax </span>: ${{tax}}</p>
        <p><span class="span-style">Subtotal </span>: ${{total | number: '1.2-2'}}</p>
      </div>
    </div>
  </div>
</div>

